.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F5F5F5;
}
*{
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
main {
   
    margin: 0px 119px 0px 136px;
}
.btn{
    padding : 10px 18px;
    border-radius: 7px;
    background-color: #006A50;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
}
.heading {
    margin-top: 70px;
    font-weight: bold;
    font-size: 35px;
}
.head-description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
}
.news-info{
    margin-top: 14px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
}
.news-btn {
    margin-top: 30px;
}
.card1 {
    background-color: rgba(84, 144, 245, 0.2)
}
.card2 {
    background-color: #C6E4D6;
}
.card3{
    background-color: #F7EBCF;
}

nav ul {
    width: 1366px;
    height: 80px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li {
    margin: 26px 136px;
    list-style: none;
}
nav li a {
    text-decoration: none;
}
nav .name {
    font-weight: bold;
    font-size: 25px;
}
nav .sign {
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 13px 26px;
    font-weight: 600;
    font-size: 16px;
    color: #006A50;
}
/* hero */
.hero {
    width: 990px;
    height: 476px;
    margin: 18px 136px;
    background-color: #C6E4D6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
    
}
.hero-description {
    width:550px;   
}
.hero-description .title {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.5;
    margin-bottom: 12px;
}
.hero-description .subtitle {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 19px;
}
.hero-description button {
    background-color: #006A50;
    border:none;
    border-radius: 7px;
    padding: 17px 34px;
    font-size: 15px;
    font-weight: 600;
    
}
.hero img {
    width: 403px;
    height: 340px;
}
/* card-container */

#card-container {
    margin-top: 27px;
    display: flex;
    gap: 20px;
}
#card-container .card-box {
    width: 348px;
    padding: 29px;
    border-radius: 12px;
}
#card-container .card-content {
    margin-top: 20px;
    gap: 20px
}
#card-container .card-content .title {
    font-weight: bold;
    font-size: 18px;
    opacity: 0.8;
}
#card-container .card-description {
    font-weight: 400;
    font-size: 14px;
}
.btn-container2 {
    margin-top: 30px;
}

/* recent news */
.recent-news {
    margin-top: 27px;
    background-color: #FFFFFF;
    padding: 39px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.recent-news2 {
    flex-direction: row-reverse;
}
.news-image {
    width : 346px;
    height : 260px;
    border-radius: 20px;
}
.news-content .title {
    font-weight: bold;
    font-size: 28px;
    opacity: 0.8;
}
.logo{
    margin-top: 7px;
    width: 114px;
    height: 34px;
}
.space {
    margin-left: 10px;
}