.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F5F5F5;
}
*{
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
main {
   
    margin: 0px 119px 0px 136px;
}
.btn{
    padding : 10px 18px;
    border-radius: 7px;
    background-color: #006A50;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
}
.heading {
    margin-top: 70px;
    font-weight: bold;
    font-size: 35px;
}
.head-description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
}
.news-info{
    margin-top: 14px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7;
}
.news-btn {
    margin-top: 30px;
}
.card1 {
    background-color: rgba(84, 144, 245, 0.2)
}
.card2 {
    background-color: #C6E4D6;
}
.card3{
    background-color: #F7EBCF;
}

nav ul {
    height: 80px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 550px
}
nav li {
    margin: 26px 130px;
    list-style: none;
}
nav li a {
    text-decoration: none;
}
nav .name {
    font-weight: bold;
    font-size: 25px;
}
nav .sign {
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 13px 26px;
    font-weight: 600;
    font-size: 16px;
    color: #006A50;
}
nav .sign:hover {
    background-color: black;
    opacity: 0.8;
}
/* hero */
.hero {
    height: 476px;
    margin: 18px 130px;
    background-color: #C6E4D6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
    
}
.hero-description {
    width:550px;   
}
.hero-description .title {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.5;
    margin-bottom: 12px;
}
.hero-description .subtitle {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 19px;
}
.hero-description button {
    background-color: #006A50;
    border:none;
    border-radius: 7px;
    padding: 17px 34px;
    font-size: 15px;
    font-weight: 600;
    
}
.hero img {
    width: 403px;
    height: 340px;
}
/* card-container */

#card-container {
    margin-top: 27px;
    display: flex;
    gap: 20px;
}
#card-container .card-box {
    width: 348px;
    padding: 29px;
    border-radius: 12px;
}
#card-container .card-content {
    margin-top: 20px;
    gap: 20px
}
#card-container .card-content .title {
    font-weight: bold;
    font-size: 18px;
    opacity: 0.8;
}
#card-container .card-description {
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    opacity: 0.7;
}
.btn-container {
    margin-top: 30px;
}
.btn-container2 {
    margin-top: 46px;
}
.learn-more-color1{
    background-color: #5490F5;
}
.learn-more-color2{
    background-color: #09A15C;
}
.learn-more-color3{
    background-color: #FFC239;
}

/* recent news */
.recent-news {
    margin-top: 27px;
    background-color: #473e3e;
    padding: 39px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.recent-news2 {
    flex-direction: row-reverse;
}
.news-image {
    width : 346px;
    height : 260px;
    border-radius: 20px;
}
.news-content .title {
    font-weight: bold;
    font-size: 28px;
    opacity: 0.8;
}
.logo{
    margin-top: 7px;
    width: 114px;
    height: 34px;
}
.space {
    margin-left: 10px;
}
/* donate section */
.donate {
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
}
#donation {
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-left: 90px;
}
.d-amount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 28px;
    opacity: 0.8;
    border-radius: 14px;
    margin-right: 30px;
    width: 206px;
    height: 109px;
}
.d-amount p a{
    color: black;
}
.d-amount-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
    opacity: 0.8;
    border-radius: 14px;
    margin-right: 30px;
    width: 206px;
    height: 109px;
    color: black;
    background-color: #C6E4D6;
}
.d-amount-a p a{
    color: black
}

form{
    background-color: #FFFFFF;
    width: 890px;
    height: 54px;
    margin-left: 102px;
    margin-top: 28px;
    border: none;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;  
}
#donate-container button {
    margin-top: 28px;
    margin-left: 500px;
    padding: 17px 34px
}
/* challenge section */

#challenge {
    margin-top: 50px;
    background-color: #C6E4D6;
    padding: 20px 39px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#challenge p {
    margin : 14px 240px;
    text-align: center;

}
#challenge h1 {
    margin-top: 40px;
}
.sub{
    display: flex;
    width: 637px;
    margin: 20px 10px;
    border-radius: 10px;
}

#challenge input {
    text-align: left;
    padding-left: 30px;
}
.sub button {
    padding : 10px 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: #006A50;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
}
.sub input {
    border-radius: 10px;
}
#speech {
    margin-top: 30px;
    border-radius: 14px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 1);
}
#speech .speech-con {
    background-image: url(../assets/quote-bg.png);
    background-repeat:no-repeat;
    background-position: top left;
}
#speech .speech-con .speech-con-2 {
    padding:27px 0px;
}
.para1 {
    font-weight: 400;
    font-size: 15px;
    opacity: 0.8;;
}
.author {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
}
.author-info {
    opacity: 0.6;
}
/* footer */
footer {
    margin: 0;
    margin-top: 70px;
    padding: 45px 0px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h1 {
    font-size: 25px;
    font-weight: bold;
}
footer hr {
    width: 952px;
    background-color: rgba(14, 14, 14, 0.1);
    margin-top: 30px;
}
.icon-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px
    
}

/* some other challenges */
.d-amount:hover {
    background-color: green;
}
.d-amount-a:hover {
    background-color: green;
}

button:hover {
    cursor: pointer;
    background-color: black;
}